{% load static %}
{% block stylesheet %}
<style>
    .barra{
        position:fixed;
        top:0px;
        left:0; 
        bottom:0;
        overflow-y: auto;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 3px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 1px grey; 
        border-radius: 2px;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: grey; 
        border-radius: 2px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: transparent; 
    }
</style>
{% endblock stylesheet %}
<nav class="navbar-default navbar-static-side navbar-custom barra" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="text-center profile-element">
                    <img alt="logo" style="max-width:60px;" src="{% static 'img/logo-sltracking.png' %}" />
                </div>
                <div class="text-white text-center profile-element">
                    <strong>SLTracking</strong>
                </div>
                <div class="logo-element">
                    <img alt="logo" style="max-width:60px;" src="{% static 'img/logo-sltracking.png' %}" />
                </div>
            </li>
            <!-- Administrador -->
            <li id="dashboard_activate">
                <a href="{% url 'index' %}"><i class="fa fa-bar-chart-o"></i> 
                <span class="nav-label">Dashboard</span></a>
            </li>
            <li id="vehiculos_activate">
                <a href="{% url 'vehiculos' %}"><i class="fa fa-truck"></i> 
                <span class="nav-label">Vehículos</span></a>
            </li>
            <li id="asignacion_activate">
                <a href="{% url 'asignaciondeviajes' %}"><i class="fa fa-cloud-upload"></i> 
                <span class="nav-label">Asignación de viajes</span></a>
            </li>
            <li id="list_activate">
                <a href="{% url 'listadodeentregas' %}"><i class="fa fa-list-ol"></i> 
                <span class="nav-label">Listado de entregas</span></a>
            </li>  
            <li id="seguimiento_activate">
                <a href="{% url 'seguimientodepedidos' %}"><i class="fa fa-cube"></i> 
                <span class="nav-label">Seguimiento de pedidos</span></a>
            </li>           
             <li id="map_activate">
                <a href="{% url 'maps' %}"><i class="fa fa-map-marker"></i> 
                <span class="nav-label">Mapa</span></a>
            </li>
            <li id="rendiciones_activate">
                <a href="{% url 'rendiciondeviajes' %}"><i class="fa fa-road"></i> 
                <span class="nav-label">Rendición de viajes</span></a>
            </li>
            <!--<li id="registro_activate">
                <a href="{% url 'registrodedatos' %}"><i class="fa fa-file-text-o"></i> 
                <span class="nav-label">Registro de datos</span></a>
            </li> 
            <li>
                <a href="#"><i class="fa fa-cog"></i> 
                <span class="nav-label">Configuración</span></a>
            </li>-->                                                                
            <!-- / Administrador / -->
        </ul>
    </div>
</nav>