	html,
	body,
	#map-canvas {
		height: 100%;
		margin: 0px;
		padding: 0px
	}
	
	.color-button {
		width: 20px;
		height: 20px;
		font-size: 0;
		margin: 4px;
		float: left;
		cursor: pointer;
		border-radius: 50%;
		box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25)
	}
	
	#delete-button,
	#save-button {
		padding: 6px 8px;
		background-color: #fff;
		margin: 4px;
		border-radius: 2px;
		cursor: pointer;
		box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25)
	}
	
	#delete-button:hover,
	#save-button:hover {
		background-color: #eee;
	}