{% extends "_Partials/_base.html" %}

{% load static %}
{% load crispy_forms_tags %}
{% block title %} Edificios {% endblock %}

{% block stylesheet %}

<link href="{% static 'css/plugins/sweetalert/sweetalert.css' %}" rel="stylesheet">

{% endblock stylesheet %}
{% block content %}


      <div class="row">
        <div class="col-lg-12">
          <div class="ibox">

            <div class="ibox-title">
              <h1 class="lead">Edificios</h1>
            </div>
            <div class="ibox-content">
              <div class="row">
                <div class="col-lg-12">
                  

                  <form method ="POST" style="margin-top:20px;">
                    {% csrf_token %}
                    <input name="lat_edificio" id="lat_edificio" type="hidden"/>
                    <input name="lng_edificio" id="lng_edificio" type="hidden"/>

                    <div class="form-group col-lg-12">
                        <div class="input-group">

                          <input class="w-full bg-grey-lighter text-grey-darker appearance-none rounded border-2 border-grey-lighter py-2 px-4 form-control" name="place" id="place" />
                          <span class="input-group-btn">
                            <span class="btn btn-primary" >Buscar</span>
                          </span>
                      </div> 
                    </div>
                    <div class="col-lg-8">
                      <div class="form-group col-lg-8">
                        {{ form.nombre_edificio.errors }}
                        <label for="nombre_edificio"> Nombre del Lugar: </label>
                        <input class="form-control" type="text id="nombre_edificio" name="nombre_edificio">
                      </div>
                      <div class="form-group col-lg-4">
                        {{ form.cant_altura_max.errors }}
                        <label for = "cant_altura_max">Altura máxima del edificio</label>
                        <input class="form-control" type="text" id="cant_altura_max" name="cant_altura_max">
                      </div>
                      <div class="form-group col-lg-8">
                        {{ form.calle.errors }}
                        <label for="calle">Calle: </label>
                        <input name="calle" id="calle" type="text" class="form-control" 
                         />
                      </div>
                      <div class="form-group col-lg-4">
                        {{ form.numero.errors }}
                        <label for="numero">Número: </label>
                        <input name="numero" id="numero" type="text" class="form-control" 
                         />
                      </div>
                      <div class="form-group col-lg-4">
                        {{ form.estado.errors }}
                        <label for="comuna">Comuna: </label>
                        <input name="comuna" id="comuna" type="text" class="form-control" 
                         />
                      </div>
                      <div class="form-group col-lg-4">
                        {{ form.ciudad.errors }}
                        <label for="ciudad">Región: </label>
                        <input name="ciudad" id="ciudad" type="text" class="form-control" 
                         />
                      </div>
                      <div class="form-group col-lg-4">
                        {{ form.pais.errors }}
                        <label for="pais">País: </label>
                        <input name="pais" id="pais" type="text" class="form-control" 
                         />
                      </div>  
                    </div>
                    <div class="col-lg-4" id="mapa">
                      <img src="https://maps.googleapis.com/maps/api/staticmap?center=52.5219216,13.4110207&amp;zoom=12&amp;size=480x125&amp;maptype=roadmap&amp;sensor=false" width="480" height="125" alt="Google Maps Berlin"/>
                    </div>
                    <button type="submit" class="save btn btn-success">Registrar</button>
                  </form>                
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    {% endblock content %}
    {% block javascript %}
    <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDWYXWdwdC636WIUglshAem_ucZDlH86RU&libraries=places'></script>

    <script>
      var locationInfo = {
        geo: null,
        country: null,
        state: null,
        city: null,
        postalCode: null,
        street: null,
        streetNumber: null,
        reset: function() {
          this.geo = null;
          this.country = null;
          this.state = null;
          this.city = null;
          this.postalCode = null;
          this.street = null;
          this.streetNumber = null;
        }
      };
      googleAutocomplete = {
        autocompleteField: function(fieldId) {
          (autocomplete = new google.maps.places.Autocomplete(
            document.getElementById(fieldId)
          )),
            { types: ["geocode"] };
          google.maps.event.addListener(autocomplete, "place_changed", function() {
            // Segment results into usable parts.
            var place = autocomplete.getPlace(),
              address = place.address_components,
              lat = place.geometry.location.lat(),
              lng = place.geometry.location.lng();

            // Reset location object.
            locationInfo.reset();

            // Save the individual address components.
            locationInfo.geo = {
                latitud: lat, 
                longitud: lng};
            for (var i = 0; i < address.length; i++) {
              var component = address[i].types[0];
              switch (component) {
                case "country":
                  locationInfo.country = address[i]["long_name"];
                  break;
                case "administrative_area_level_1":
                  locationInfo.state = address[i]["long_name"];
                  break;
                case "locality":
                  locationInfo.city = address[i]["long_name"];
                  break;
                case "postal_code":
                  locationInfo.postalCode = address[i]["long_name"];
                  break;
                case "route":
                  locationInfo.street = address[i]["long_name"];
                  break;
                case "street_number":
                  locationInfo.streetNumber = address[i]["long_name"];
                  break;
                default:
                  break;
              }
            }
            var src =
                "https://maps.googleapis.com/maps/api/staticmap?center=" +
                lat +
                "," +
                lng +
                "&zoom=14&size=480x125&maptype=roadmap&sensor=false",
              img = document.createElement("img");

            img.src = src;
            img.className = "absolute pin-t pin-l z-20";
            document.getElementById("mapa").appendChild(img);

            $('#pais').val(locationInfo.country);
            $('#comuna').val(locationInfo.city);
            $('#region').val(locationInfo.state);
            $('#calle').val(locationInfo.street);
            $('#numero').val(locationInfo.streetNumber);
            $('#lat_edificio').val(locationInfo.geo.latitud);
            $('#lng_edificio').val(locationInfo.geo.longitud);


          });
        }
      };

      googleAutocomplete.autocompleteField("place");
    </script>
    



    {% endblock javascript %}