    {% extends "_Partials/_base.html" %}
    {% load static %}

    {% block title %}
    Asignación de viajes
    {% endblock title %}

    {% block stylesheet %}
        <link href="{% static 'css/plugins/sweetalert/sweetalert.css' %}" rel="stylesheet">
        <link href="{% static 'css/plugins/iCheck/custom.css' %}" rel="stylesheet">
        <link href="{% static 'css/plugins/steps/jquery.steps.css' %}" rel="stylesheet">
        <link href="{% static 'css/plugins/touchspin/jquery.bootstrap-touchspin.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/plugins/select2/select2.min.css' %}" rel="stylesheet">
    {% endblock stylesheet %}

    {% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color: #2f4050;"><font color="White" size="4">
                Carga de archivos
            </font>
            </div>
            <div class="ibox-content">
                <form method="post">
                    {% csrf_token %}
                    <input  class="col-md-7" type="file" id="excel" name="excel" id="excel">    
                    <span class="btn btn-success upload_1"><i class="fa fa-upload"></i>&nbsp;&nbsp;<span class="bold">Subir archivo</span></span>
                    <a href="{% static 'uploads/formato_excel.xlsx' %}" download="Formato planilla de carga">
                    <button class="btn btn-primary" type="button">
                        <i class="fa fa-paste"></i>
                        &nbsp;Formato excel
                    </button>
                    </a>
                </form>
            </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color: #2f4050;"><font color="White" size="4">
                    Formulario de entregas
                </font>
            </div>
                <div class="ibox-content">
                    <form class="form-horizontal" method="post" action="{% url 'asignaciondeviajes' %}">{% csrf_token %}
                        <h2>Asignación de vehículos</h2>                               
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="row">
                                    <label class="col-sm-2 control-label">Vehículo</label>
                                        <div class="col-md-3">
                                            <select class="select2_vehiculo form-control" id="vehiculo_transporte" name="vehiculo_transporte"required>
                                                {% for x in Placa_patente %}
                                                <option></option>
                                                <option value="{{x.Patente}}">{{x.Patente}} - ({{x.Perfil}})</option>
                                                {% endfor %}
                                            </select>
                                            <!--<input type="text" placeholder="Ingrese la patente del vehículo" class="form-control" id="vehiculo_transporte" name="vehiculo_transporte" required>-->
                                        </div>
                                    <label class="col-sm-2 control-label">Transportista</label>
                                        <div class="col-md-4">
                                            <select class="select2_transportista form-control" id="conductor_vehiculo" name="conductor_vehiculo" required>
                                                {% for x in Vehiculo_transportista %}
                                                <option></option>
                                                <option value="{{x.Usuario.first_name}} {{x.Usuario.last_name}}">{{x.Usuario.first_name}} {{x.Usuario.last_name}} - ({{x.Usuario}})</option>
                                                {% endfor %}
                                            </select>
                                            <!--<input type="text" placeholder="Ingrese el nombre del Transportista" class="form-control" id="conductor_vehiculo" name="conductor_vehiculo" required>-->
                                        </div>
                                </div>
                            </div>
                        </div> 
                        <div class="ibox-content">                             
                        <div class="row">
                            <div class="col-sm-6"><h2>Origen</h2>
                                    <div class="form-group">
                                        <label>Lugar de origen</label>
                                        <input type="text" placeholder="Ingrese el lugar de origen" class="form-control" name="lugar_origen" id="lugar_origen" required>
                                    </div> 
                                    <div class="form-group">
                                        <label>Dirección de origen</label>
                                        <input id="origin-input" type="text" class="form-control" placeholder="Ingrese la dirección de origen" name="direccion_origen_cd" id="direccion_origen_cd" required>
                                    </div>
                            </div>
                            <div class="col-sm-6"><h2>Destino</h2>
                                    <div class="form-group">
                                        <label>Lugar de destino</label>
                                        <input type="text" placeholder="Ingrese el lugar de destino" class="form-control" name="lugar_destino" id="lugar_destino" required>
                                    </div> 
                                    <div class="form-group">
                                        <label>Dirección de destino</label>
                                        <input id="pac-input" type="text" class="form-control" placeholder="Ingrese la dirección de destino" name="direccion_destino_cd" id="direccion_destino_cd" required>
                                    </div>
                            </div>
                        </div>
                        </div>
                        <div class="ibox-content">                             
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="google-map" id="map"></div>
                            </div>
                        </div> 
                    </div>
                    <div class="ibox-content">
                        <h2>Información del pedido</h2>
                        <div class="row">
                            <div class="col-md-4">
                                <p class="font-bold">Tipo documento</p>
                                <select class="select2_tipo_documento form-control" required>
                                    <option></option>
                                    <option value="Factura">Factura</option>
                                    <option value="Guia de despacho">Guía de despacho</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <p class="font-bold">N° de Documento</p>
                                <input type="text" class="form-control" placeholder="Ingrese el N° de Documento" name="numero_documento" id="numero_documento" required>
                            </div>
                             <div class="col-md-4">
                                <p class="font-bold">Orden de compra</p>
                                <input type="text" class="form-control" placeholder="Ingrese la orden de compra" name="orden_compra_doc" id="orden_compra_doc" required>
                            </div>

                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-4">
                                <p class="font-bold">Cantidad de bultos</p>
                                <input class="form-control" type="number" name="cantidad_bultos_qty" value="0" min="0" id="cantidad_bultos_qty" required>
                            </div>
                            <div class="col-md-4">
                                <p class="font-bold">Cantidad de pallet</p>
                                <input class="form-control" type="number" name="cantidad_pallets_qty" value="0" min="0" id="cantidad_pallets_qty" required>
                            </div>
                            <div class="col-md-4">
                                <p class="font-bold">Tipo de entrega</p>
                                <input type="text" class="form-control" placeholder="Ingrese el tipo de entrega" name="tipo_entrega" id="tipo_entrega" required>
                            </div>
                        </div>
                        <br>
                        <!--<div class="row">
                            <div class="col-md-4">
                                <p class="font-bold">Peonetas</p>
                                <input type="text" class="form-control" placeholder="Ingrese los peonetas" name="qty_peoneta" id="qty_peoneta" required>
                            </div>
                        </div>-->
                    </div>
                    <div class="hr-line-dashed"></div>
                            <div class="row">
                                <div class="form-group center">
                                    <div class="text-center">
                                        <button class="btn btn-danger" type="button">Cancelar</button>
                                        <button class="btn btn-warning" type="submit">Guardar</button>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
       
{% block javascript %}
<script src="{% static 'js/plugins/steps/jquery.steps.min.js' %}"></script>
<script src="{% static 'js/plugins/validate/jquery.validate.min.js' %}"></script>

<script src="{% static 'js/plugins/select2/select2.full.min.js' %}"></script>

<script src="{% static 'js/plugins/sweetalert/sweetalert.min.js' %}"></script>
<script src="{% static 'js/plugins/touchspin/jquery.bootstrap-touchspin.min.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqDNha0SeKp3LkNuqcVQ44YDIB2sUvEac&libraries=places&callback=initMap"
        async defer></script>
    <script>
        $(document).ready(function(){
            $("#asignacion_activate").addClass("special_link");
            $(".select2_vehiculo").select2({
                placeholder: "Seleccione el vehículo",
                allowClear: true
            });
            $(".select2_transportista").select2({
                placeholder: "Seleccione el transportista",
                allowClear: true
            });
            $(".select2_tipo_documento").select2({
                placeholder: "Seleccione el tipo de documento",
                allowClear: true
            });
        });
        function myFunction() {
            var x = document.getElementById("archivo");
            x.disabled = true;
        }
            $('.upload_1').click(function(){

                if($('#excel').val() !=""){
                    var doc = $("#excel");
                    var form = new FormData();
                    form.append("excel", doc[0].files[0]);
                    form.append("csrfmiddlewaretoken", "{{ csrf_token }}");
                    cargarExcel(form);
                }
                else{
                    swal({
                        title: "Seleccione un archivo!",
                        text: "Debe selccionar una archivo",
                        type: "warning"
                    });
                }

                
                
            });
        function cargarExcel(form){
            $.ajax({
                    url:'{% url "upload" %}',
                    type:'POST',
                    data:form,
                    contentType: false,
                    processData:false,
                    success:function(result){
                        swal({
                            title:result.title,
                            text: result.text,
                            type: result.type
                        }, function(){
                            location.reload();
                        });
                    },
                    error:function(){
                        swal({
                            title: "Ha ocurrido un error innesperado",
                            text: "Verifique la información e intende de nuevo más tarde",
                            type: "error"
                        });
                    }

                });

        }
             function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          mapTypeControl: false,
          center: {lat: -33.8688, lng: 151.2195},
          zoom: 13
        });

        new AutocompleteDirectionsHandler(map);
      }

       /**
        * @constructor
       */
      function AutocompleteDirectionsHandler(map) {
        this.map = map;
        this.originPlaceId = null;
        this.destinationPlaceId = null;
        this.travelMode = 'WALKING';
        var originInput = document.getElementById('origin-input');
        var destinationInput = document.getElementById('destination-input');
        var modeSelector = document.getElementById('mode-selector');
        this.directionsService = new google.maps.DirectionsService;
        this.directionsDisplay = new google.maps.DirectionsRenderer;
        this.directionsDisplay.setMap(map);

        var originAutocomplete = new google.maps.places.Autocomplete(
            originInput, {placeIdOnly: true});
        var destinationAutocomplete = new google.maps.places.Autocomplete(
            destinationInput, {placeIdOnly: true});

        this.setupClickListener('changemode-walking', 'WALKING');
        this.setupClickListener('changemode-transit', 'TRANSIT');
        this.setupClickListener('changemode-driving', 'DRIVING');

        this.setupPlaceChangedListener(originAutocomplete, 'ORIG');
        this.setupPlaceChangedListener(destinationAutocomplete, 'DEST');

        this.map.controls[google.maps.ControlPosition.TOP_LEFT].push(originInput);
        this.map.controls[google.maps.ControlPosition.TOP_LEFT].push(destinationInput);
        this.map.controls[google.maps.ControlPosition.TOP_LEFT].push(modeSelector);
      }

      // Sets a listener on a radio button to change the filter type on Places
      // Autocomplete.
      AutocompleteDirectionsHandler.prototype.setupClickListener = function(id, mode) {
        var radioButton = document.getElementById(id);
        var me = this;
        radioButton.addEventListener('click', function() {
          me.travelMode = mode;
          me.route();
        });
      };

      AutocompleteDirectionsHandler.prototype.setupPlaceChangedListener = function(autocomplete, mode) {
        var me = this;
        autocomplete.bindTo('bounds', this.map);
        autocomplete.addListener('place_changed', function() {
          var place = autocomplete.getPlace();
          if (!place.place_id) {
            window.alert("Please select an option from the dropdown list.");
            return;
          }
          if (mode === 'ORIG') {
            me.originPlaceId = place.place_id;
          } else {
            me.destinationPlaceId = place.place_id;
          }
          me.route();
        });

      };

      AutocompleteDirectionsHandler.prototype.route = function() {
        if (!this.originPlaceId || !this.destinationPlaceId) {
          return;
        }
        var me = this;

        this.directionsService.route({
          origin: {'placeId': this.originPlaceId},
          destination: {'placeId': this.destinationPlaceId},
          travelMode: this.travelMode
        }, function(response, status) {
          if (status === 'OK') {
            me.directionsDisplay.setDirections(response);
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      };
    </script>

    {% endblock javascript %}