{% extends "_Partials/_base.html" %}
{% load static %}

{% block title %}
Flota
{% endblock title %}
{% block stylesheet %}
<link href="{% static 'css/plugins/dataTables/datatables.min.css' %}" rel="stylesheet">

<link rel="stylesheet" href="{% static 'crud/css/style.css' %}">
{% endblock stylesheet %}
{% block content %}
<div class="form-container">
  <div class="ibox-content">
    <form name="vehicle-details" class="vehicle-details form-horizontal">
      <fieldset>
        <legend>Vehículo</legend>
        <div class="form-group">
          <label for="txtName" class="control-label col-md-4">*Patente:</label>
          <div class="col-md-8">
            <input type="text" id="txtName" name="name" placeholder="Ingrese la patente" maxlength="50">
            <div class="error-msg"></div>
          </div>
        </div>
        <div class="form-group">
          <label for="rdoGender" class="control-label col-md-4">*Conductor:</label>
          <div class="col-md-8">
            <label><input type="radio" class="rdo-gender" id="rdoGenderMale" name="gender" value="Camioneta"><span>Camioneta</span></label>
            <label class="radio-gender"><input type="radio" name="gender" id="rdoGenderFemale" class="rdo-gender" value="Tractor"><span>Tractor</span></label>
          </div>
        </div>
        <div class="form-group">
          <label for="txtMarca" class="control-label col-md-4">*Marca:</label>
          <div class="col-md-8">
            <input type="text" id="txtMarca" name="marca" placeholder="Ingrese la marca" maxlength="50">
            <div class="error-msg"></div>
          </div>
        </div>
        <div class="form-group">
          <label for="txtModelo" class="control-label col-md-4">*Modelo:</label>
          <div class="col-md-8">
            <input type="text" id="txtModelo" name="modelo" placeholder="Ingrese la marca" maxlength="50">
            <div class="error-msg"></div>
          </div>
        </div>
        <button class="reset-button btn btn-danger">Cancelar</button>
        <button class="add-button btn btn-success">Agregar</button>
        <button class="update-button btn btn-primary">Editar</button>
      </fieldset>
    </form>
  </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="panel-heading" style="background-color: #2f4050;">
              <font color="White" size="4">Flota de vehículos</font>
                <div class="btn-group pull-right">
                  <button class="add-another btn btn-success btn-sm" type="button"><i class="fa fa-plus"></i>&nbsp;&nbsp;<span class="bold">Agregar vehículo</span></button>
                </div>  
            </div>
      <div class="ibox-content">
        <div class="table-responsive">
          <table class="vehicle-table table table-striped table-bordered table-hover" style="width:100%">
            <thead>
              <tr>
                <th>Patente</th>
                <th>Conductor</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th></th>
              </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="message"></div>
{% endblock content %}

{% block javascript %} 
<script src="{% static 'js/plugins/dataTables/datatables.min.js' %}"></script>

<script type="text/javascript">
// Pure JS
let myVehicles = (function () {
  let vehicles = [
    {
      'id': 1,
      'name': 'Manas Ranjan',
      'gender': 'Male',
      'marca': 'India',
      'modelo': 'India'
    }
  ];
  
  // Setting some sample values if no vehicles exists in storage // Configuración de algunos valores de muestra si no hay vehículos almacenados
  localStorage.setItem('vehicles', localStorage.getItem('vehicles') || JSON.stringify(vehicles));

  // Adding a new vehiculo // Añadir un nuevo vehiculo
  let addVehicle = function (input) {
    let vehicles = JSON.parse(localStorage.getItem('vehicles'));
    // Checking possible errors // Chequear possibles errores
    try {
      if (!input.gender) {
        throw false;
      }
      if (!isNaN(parseInt(input.name))) {
        throw false;
      }
      if (!isNaN(parseInt(input.marca))) {
        throw false;
      }
      if (!isNaN(parseInt(input.modelo))) {
        throw false;
      }
    }
    catch (err) {
      return err;
    }
    input.id = autoIncrementId();
    vehicles.push(input);
    localStorage.setItem('vehicles', JSON.stringify(vehicles));
    return true;
  };

  // To increment id // Para incrementer id
  let autoIncrementId = function () {
    let vehicles = JSON.parse(localStorage.getItem('vehicles'));
    let ids = [];
    for (let i = 0; i < vehicles.length; i++) {
      ids.push(vehicles[i].id);
    }
    let newId = Math.max(...ids) + 1;
    return newId;
  };

  // To get list of all the vehicles // Para obtener la lista de todos los vehiculos
  let getVehicles = function () {
    let vehicles = JSON.parse(localStorage.getItem('vehicles'));
    return vehicles;
  }

  // To find customer // Encontrar vehiculo
  let findVehicle = function (id) {
    let vehicles = JSON.parse(localStorage.getItem('vehicles'));
    let requestedVehicle = {};
    for (let i = 0; i < vehicles.length; i++) {
      if (id === vehicles[i].id) {
        requestedVehicle.id = vehicles[i].id;
        requestedVehicle.name = vehicles[i].name;
        requestedVehicle.gender = vehicles[i].gender;
        requestedVehicle.marca = vehicles[i].marca;
        requestedVehicle.modelo = vehicles[i].modelo;
      }
    }
    return requestedVehicle;
  };

  // Update vehicle // Actualizar los detalles del vehiculo
  let updateVehicle = function (updatedVehicle) {
    let vehicles = JSON.parse(localStorage.getItem('vehicles'));
    // Checking all possible exceptions // Comprobando todas las excepciones posibles
    try {
      if (!updatedVehicle.name || !isNaN(parseInt(updatedVehicle.name))) {
        throw false;
      }
      if (!updatedVehicle.marca || !isNaN(parseInt(updatedVehicle.marca))) {
        throw false;
      }
      if (!updatedVehicle.modelo || !isNaN(parseInt(updatedVehicle.modelo))) {
        throw false;
      }
    }
    catch (err) {
      return err;
    }
    for (let i = 0; i < vehicles.length; i++) {
      if (updatedVehicle.id === vehicles[i].id) {
        vehicles[i].id = updatedVehicle.id;
        vehicles[i].name = updatedVehicle.name;
        vehicles[i].gender = updatedVehicle.gender;
        vehicles[i].marca = updatedVehicle.marca;
        vehicles[i].modelo = updatedVehicle.modelo;
      }
    }
    localStorage.setItem('vehicles', JSON.stringify(vehicles));
    return true;
  };

  // Delete customer // Eliminar vehiculo
  let deleteVehicle = function (id) {
    let vehicles = JSON.parse(localStorage.getItem('vehicles'));
    let index = 0;
    for (let i = 0; i < vehicles.length; i++) {
      if (id === vehicles[i].id) {
        index = i;
      }
    }
    if (index >= 0) {
      vehicles.splice(index, 1);
    }
    localStorage.setItem('vehicles', JSON.stringify(vehicles));
  };

  return {
    addVehicle: addVehicle,
    findVehicle: findVehicle,
    getVehicles: getVehicles,
    updateVehicle: updateVehicle,
    deleteVehicle: deleteVehicle
  };

}());

$(document).ready(function(){
  $("#vehiculos_activate").addClass("special_link");
  let vehicleTable = '';
  let id = '';
  const timeToHide = 2000;

  // Catching frequently used DOM elements // Captura de elementos DOM de uso frecuente
  let $vehicleTable = $('.vehicle-table');
  let $formContainer = $('.form-container');
  let $messageBox = $('.message');
  let $addVehicle = $('.add-button');
  let $updateVehicle = $('.update-button');
  let $errorMessage = $('.error-msg');

  // Function to create a table using DataTable plugin // Función para crear una tabla usando el complemento DataTable
  let createTable = function (vehicles) {
    vehicleTable = $vehicleTable.DataTable({
      data: vehicles,
      pageLength: 25,
      responsive: true,
      dom: '<"html5buttons"B>lT<"clear">frtip',
      buttons: [
          {
              extend: 'excel',
              text: '<i class="fa fa-file-excel-o">&nbsp;&nbsp;<span>Excel</span></i>',
              title: 'Listado de entregas',
          },
      ],
      columns: [
        { data: 'name' },
        { data: 'gender' },
        { data: 'marca' },
        { data: 'modelo' },
        {
          data: null,
          render: function (data, type, row, meta) {
            return `<div style="text-align: center"><a href="" class="edit_details" data-id="${data.id}" title="edit">
                    <button type="button" class="btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i></button></a>
                    <a href="" class="delete_details" data-id="${data.id}" title="delete" style="padding-left: 20px;">
                    <button type="button" class="btn btn-danger"><i class="fa fa-remove" aria-hidden="true"></i></button></a></div>`;
          }
        }
      ],
      columnDefs: [
        { width: "15%", targets: 0 },
        { width: "15%", targets: 1 },
        { width: "15%", targets: 2 },
        { width: "20%", targets: 3 },
        { width: "10%", targets: 4, orderable: false }
      ],
      language: {
          "sProcessing":     "Procesando...",
          "sLengthMenu":     "Mostrar _MENU_ registros",
          "sZeroRecords":    "No se encontraron resultados",
          "sEmptyTable":     "Ningún dato disponible en esta tabla",
          "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
          "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
          "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
          "sInfoPostFix":    "",
          "sSearch":         "Buscar:",
          "sUrl":            "",
          "sInfoThousands":  ",",
          "sLoadingRecords": "Cargando...",
          "oPaginate": {
              "sFirst":    "Primero",
              "sLast":     "Último",
              "sNext":     "Siguiente",
              "sPrevious": "Anterior"
          },
          "oAria": {
                  "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                  "sSortDescending": ": Activar para ordenar la columna de manera descendente"
          }
      }
    });
  }

  // Creating the table on page load // Creando la tabla en la página de carga
  createTable(JSON.parse(localStorage.getItem('vehicles')));

  // Function  to scroll to form // Función Scroll del form
  let scrollToForm = function () {
    $('html, body').stop().animate({
      scrollTop: $formContainer.offset().top
    }, timeToHide);
  };

  // To pop up a message according to action performed // Para que aparezca un mensaje según la acción realizada
  let showMessage = function () {
    $messageBox.show();
    setTimeout(function () {
      $messageBox.hide('slow');
    }, timeToHide);
  };


  $addVehicle.click(function (e) {
    e.preventDefault();
    /**
     * Extracting vehicle details from form of webpage and reducing it to an object // Extraer los detalles del cliente de la forma de la página web y reducirla a un objeto
     
     * to operate on it.
     */
    let vehicleDetails = $('.vehicle-details').serializeArray().reduce(function (obj, item) {
      obj[item.name] = item.value;
      return obj;
    }, {});
    let status = myVehicles.addVehicle(vehicleDetails);
    if (status) {
      let vehicles = myVehicles.getVehicles();
      if ($.fn.DataTable.isDataTable(vehicleTable)) {
        vehicleTable.destroy();
      }
      createTable(vehicles);
      $('.vehicle-details')[0].reset();
      $messageBox.text(`${vehicleDetails.name} ha sido agregado al listado.`);
      showMessage();
      $errorMessage.text('');
    }
    else {
      $errorMessage.text('Por favor llene todos los campos con detalles válidos.');
    }
  });

  // Resetting form details when clicked on reset button // Restablecimiento de los detalles del formulario al hacer clic en el botón de reinicio
  $('.reset-button').click(function (e) {
    e.preventDefault();
    $('.vehicle-details')[0].reset();
    $errorMessage.text('');
  })

  // Method to delete vehicles from table
  // Método para borrar vehiculos de la tabla
  $(document).on('click', '.delete_details', function (e) {
    e.preventDefault(); // Prevents link from following the URL // Evita que el enlace siga la URL
    // Asking for confirmation before deleting // Pidiendo confirmación antes de borrar
    if (confirm("Desea eliminar el vehículo?")) {
      id = $(this).data('id');
      myVehicles.deleteVehicle(parseInt(id));
      let vehicles = myVehicles.getVehicles();
      if ($.fn.DataTable.isDataTable(vehicleTable)) {
        vehicleTable.destroy();
      }
      createTable(vehicles);
      $messageBox.text(`Se ha eliminado la fila del listado.`);
      showMessage();
    }
  });    
  
  // Method to edit details of vehicle form vehicles list // Método para editar detalles de la lista de vehículos en forma de vehículo
  $(document).on('click', '.edit_details', function (e) {
    e.preventDefault(); // Prevents link from following the URL // Evita que el enlace siga la URL
    id = $(this).data('id');
    let clickedVehicle = myVehicles.findVehicle(id);
    $('#txtName').val(clickedVehicle.name);
    $('#txtMarca').val(clickedVehicle.marca);
    $('#txtModelo').val(clickedVehicle.modelo);
    if (clickedVehicle.gender === 'male') {
      $("#rdoGenderMale").prop("checked", true);
    } else {
      $("#rdoGenderFemale").prop("checked", true);
    }
    $addVehicle.hide();      // Hiding the add button // Ocultar el botón Agregar
    $updateVehicle.show();   // Showing update button // Mostrando el botón de actualización
    $formContainer.show();    // Showing form // Mostrando el formulario
    scrollToForm();
    $('#txtName').focus();
  });  

  // Method to update details from updated form data // Método para actualizar detalles de datos de formulario actualizados
  $(document).on('click', '.update-button', function (e) {
    /**
     * This method is used to stop from submiting the form which is it's default action // Este método se utiliza para detener el envío del formulario, que es su acción predeterminada
     */
    e.preventDefault();
    let updatedVehicleDetails = $('.vehicle-details').serializeArray().reduce(function (obj, item) {
      obj[item.name] = item.value;
      return obj;
    }, {});
    updatedVehicleDetails.id = id;
    let status = myVehicles.updateVehicle(updatedVehicleDetails);
    if (status) {
      let vehicles = myVehicles.getVehicles();
      if ($.fn.DataTable.isDataTable(vehicleTable)) {
        vehicleTable.destroy();
      }
      createTable(vehicles);
      $formContainer.hide();
      $('.vehicle-details')[0].reset();
      $messageBox.text(`${updatedVehicleDetails.name} se ha actualizado en el listado.`);
      showMessage();
      $errorMessage.text('');
    }
    else {
      $errorMessage.text('Por favor llene todos los campos con detalles válidos.');
    }
  });

  $('.add-another').click(function () {
    $('.vehicle-details')[0].reset();
    $formContainer.show();
    scrollToForm();
    $('#txtName').focus();
    $addVehicle.show();
    $updateVehicle.hide();
  })

});
</script>
{% endblock javascript %}