{% extends "_Partials/_base.html" %}
{% load static %}

{% block title %}
Flota
{% endblock title %}
{% block stylesheet %}
<link href="{% static 'css/plugins/dataTables/datatables.min.css' %}" rel="stylesheet">
{% endblock stylesheet %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="panel-heading" style="background-color: #2f4050;">
                <font color="White" size="4">Flota de vehículos</font>
                <div class="btn-group pull-right">
                <button class="btn btn-success btn-sm" type="button" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-plus"></i>&nbsp;&nbsp;<span class="bold">Agregar vehículo</span></button>
            </div>  
            </div>
        <div class="ibox-content">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover dataTables-example" >
            <thead>
                <tr>
                    <th>Patente</th>
                    <th>Conductor</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Tipo de chasis</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for x in Flota %}
                <tr>
                    <td>{{x.Patente}}</td>
                    <td>{{x.Perfil}}</td>
                    <td>{{x.Marca}}</td>
                    <td>{{x.Modelo}}</td>
                    <td>{{x.Tipo_vehiculo}}</td>
                    <td class="text-center">
                        <button type="button" class="btn btn-primary">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn btn-danger">
                            <i class="fa fa-remove" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
                {% endfor %}                      
            </tbody>
            </table>
            </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar vehículo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block javascript %} 
<script src="{% static 'js/plugins/dataTables/datatables.min.js' %}"></script>

<script type="text/javascript">
    $(document).ready(function(){
        $("#flota_activate").addClass("special_link");
        $('.dataTables-example').DataTable({
            pageLength: 25,
            responsive: true,
            dom: '<"html5buttons"B>lTfgitp',
            buttons: [
                {
                    extend: 'excel',
                    text: '<i class="fa fa-file-excel-o">&nbsp;&nbsp;<span>Excel</span></i>',
                    title: 'Listado de entregas',
                },
            ],
            columnDefs: [
                {targets: 5, orderable: false }
            ],            
            language: {
                "sProcessing":     "Procesando...",
                "sLengthMenu":     "Mostrar _MENU_ registros",
                "sZeroRecords":    "No se encontraron resultados",
                "sEmptyTable":     "Ningún dato disponible en esta tabla",
                "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix":    "",
                "sSearch":         "Buscar:",
                "sUrl":            "",
                "sInfoThousands":  ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst":    "Primero",
                    "sLast":     "Último",
                    "sNext":     "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                        "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            }
        });
    });
</script>
{% endblock javascript %}