{% extends "_Partials/_base.html" %}
{% load static %}
{% block title %}
Reportes
{% endblock title %}
{% block stylesheet %}


{% endblock stylesheet %}



{% block content %}
<div class="row">
    <div class="col-lg-3">
        <div class="widget style1 lazur-bg">
            <div class="row">
                <div class="col-xs-4">
                    <i class="fa fa-truck fa-5x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span> Vehículos en ruta </span>
                    <h2 class="font-bold">00/00</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="widget style1 red-bg">
            <div class="row">
                <div class="col-xs-4 text-center">
                    <i class="fa fa-map-marker fa-5x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span> Puntos de entrega </span>
                    <h2 class="font-bold"> 0</h2>
                </div>
            </div>
         </div>
    </div>

    <div class="col-lg-3">
        <div class="widget style1 navy-bg">
            <div class="row">
                <div class="col-xs-4">
                    <i class="fa fa-check fa-5x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span> Entregas realizadas </span>
                    <h2 class="font-bold">0</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="widget style1 yellow-bg">
            <div class="row">
                <div class="col-xs-4">
                    <i class="fa fa-ellipsis-h fa-5x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span> Entregas pendientes </span>
                    <h2 class="font-bold">0</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color: #2f4050;"><FONT color="White" size="4">
                Status de entregas
            </FONT>
        </div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th style="text-align: center;">Vehiculo</th>
                    <th style="text-align: center;">Transportista</th>
                    <th style="text-align: center;">Status</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td style="text-align: center;vertical-align: middle;">PG1532</td>
                    <td style="text-align: center;vertical-align: middle;">Sebastian Lopez</td>
                    <td style="text-align: center;vertical-align: middle;">
                    <div class="m-r-md inline">
                        <input type="text" disabled="" value="0" class="dial m-r-sm" data-fgColor="#258A82" data-width="45" data-height="45" />
                    </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascript %}
<script src="{% static 'js/plugins/jsKnob/jquery.knob.js' %}"></script>

<script src="{% static 'js/plugins/chosen/chosen.jquery.js' %}"></script>
<!-- IonRangeSlider -->
<script src="{% static 'js/plugins/ionRangeSlider/ion.rangeSlider.min.js' %}"></script>

<script>
    $(document).ready(function(){
        $("#dashboard_activate").addClass("special_link");
        $('.dual_select').bootstrapDualListbox({
            selectorMinimalHeight: 160
        });
    });

    $(".dial").knob();

    var basic_slider = document.getElementById('basic_slider');

    noUiSlider.create(basic_slider, {
        start: 40,
        behaviour: 'tap',
        connect: 'upper',
        range: {
            'min':  20,
            'max':  80
        }
    });

    var range_slider = document.getElementById('range_slider');

    noUiSlider.create(range_slider, {
        start: [ 40, 60 ],
        behaviour: 'drag',
        connect: true,
        range: {
            'min':  20,
            'max':  80
        }
    });

    var drag_fixed = document.getElementById('drag-fixed');

    noUiSlider.create(drag_fixed, {
        start: [ 40, 60 ],
        behaviour: 'drag-fixed',
        connect: true,
        range: {
            'min':  20,
            'max':  80
        }
    });
</script>

{% endblock javascript %}