{% extends "_Partials/_base.html" %}
{% load static %}
{% block title %}Listado de entregas{% endblock title %}
{% block stylesheet %}
<link href="{% static 'css/plugins/dataTables/datatables.min.css' %}" rel="stylesheet">
{% endblock stylesheet %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="panel-heading" style="background-color: #2f4050;"><font color="White" size="4">
                Listado de entregas
            </font>
            </div>
        <div class="ibox-content">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover dataTables-example" >
            <thead>
                <tr>
                    <th class="text-center">Vehículo</th>
                    <th class="text-center">Transportista</th>
                    <th class="text-center">N° Documento</th>
                    <th class="text-center">Tipo Doc</th>
                    <th class="text-center">Orden de compra</th>
                    <th class="text-center">Destino</th>
                    <th class="text-center">Dirección del destino</th>
                    <th class="text-center">Bultos</th>
                    <th class="text-center">Pallets</th>
                </tr>
            </thead>
            <tfoot style=" display: table-header-group;">
                <tr>
                    <th class="text-center">Vehículo</th>
                    <th class="text-center">Transportista</th>
                    <th class="text-center">N° Documento</th>
                    <th class="text-center">Tipo Doc</th>
                    <th class="text-center">Orden de compra</th>
                    <th class="text-center">Destino</th>
                    <th class="text-center">Dirección del destino</th>
                    <th class="text-center">Bultos</th>
                    <th class="text-center">Pallets</th>
                </tr>
            </tfoot>
            <tbody>
              {% for x in Entregas %}
                <tr>
                    <td class="text-center">{{x.Vehiculo}}</td>
                    <td class="text-center">{{x.Transportista}} </td>
                    <td class="text-center">{{x.Nro_documento}}</td>
                    <td class="text-center">{{x.Tipo_documento}}</td>
                    <td class="text-center">{{x.Orden_compra}}</td>
                    <td class="text-center">{{x.Destino}} </td>
                    <td class="text-center">{{x.Direccion_destino}} </td>
                    <td class="text-center">{{x.Cantidad_bultos}}</td>
                    <td class="text-center">{{x.Cantidad_pallets}}</td>
                </tr>
              {% endfor %}                       
            </tbody>
            </table>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascript %} 
<script src="{% static 'js/plugins/dataTables/datatables.min.js' %}"></script>

<script type="text/javascript">
    $(document).ready(function(){
        let urlImg =  "{{request.build_absolute_uri}}".replace("{% url 'listadodeentregas' %}", '') + '{% static "img/marcadeagua.png" %}'
        $("#list_activate").addClass("special_link");
        $('.dataTables-example').DataTable({
            pageLength: 25,
            dom: '<"html5buttons"B>lTfgitp',
            buttons: [
                {
                    extend: 'excel',
                    text: '<i class="fa fa-file-excel-o">&nbsp;&nbsp;<span>Excel</span></i>',
                    title: 'Listado de entregas',
                    customize: function( xlsx ) {
                        var sheet = xlsx.xl.worksheets['sheet1.xml'];
                        $('row c[r^="C"]', sheet).attr( 's', '2' );
                        $('row c[r^="D"]', sheet).attr( 's', '2' );
                }
                },
                {
                    extend: 'pdf',
                    text: '<i class="fa fa-file-pdf-o">&nbsp;&nbsp;<span>PDF</span></i>',
                    orientation: 'landscape',
                },
                {
                    extend: 'print',
                    text: '<i class="fa fa-print">&nbsp;&nbsp;<span>Imprimir</span></i>',
                    customize: function (win){
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px')
                                            .prepend('<img src="' + urlImg + '" style="position: absolute; top:0; left:0; opacity: 0.4;" />');
                        $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');

                }
                }
            ],
            language: {
                "sProcessing":     "Procesando...",
                "sLengthMenu":     "Mostrar _MENU_ registros",
                "sZeroRecords":    "No se encontraron resultados",
                "sEmptyTable":     "Ningún dato disponible en esta tabla",
                "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix":    "",
                "sSearch":         "Buscar:",
                "sUrl":            "",
                "sInfoThousands":  ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst":    "Primero",
                    "sLast":     "Último",
                    "sNext":     "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                        "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            },
            initComplete: function () {
                this.api().columns().every( function () {
                    var column = this;
                    var select = $('<select><option value=""></option></select>')
                        .appendTo( $(column.footer()).empty() )
                        .on( 'change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );
     
                            column
                                .search( val ? '^'+val+'$' : '', true, false )
                                .draw();
                        } );
     
                    column.data().unique().sort().each( function ( d, j ) {
                        select.append( '<option value="'+d+'">'+d+'</option>' )
                    } );
                } );
            }
        });
    });
</script>
{% endblock javascript %}
