{% load static %}
<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Login SLTracking</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300, 400, 500" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="{% static 'login/css/style.css' %}">

</head>

<body>

<section class="user">
  <div class="user_options-container">
    <div class="user_options-text">
      <div class="user_options-unregistered">
        <img src="{% static 'login/img/logo-login.png' %}" width="400">
      </div>

    
    <div class="user_options-forms" id="user_options-forms">
      <div class="user_forms-login">
        <h2 class="forms_title">Login</h2>
        <form class="forms_form" action="{% url 'login' %}" method="POST">{% csrf_token %}
          <fieldset class="forms_fieldset">
            <div class="forms_field">
              <input type="text" placeholder="Usuario" class="forms_field-input" autofocus id="Username" name='Username' required/>
            </div>
            <div class="forms_field">
              <input type="password" placeholder="Contraseña" class="forms_field-input" id="Password" name='Password' required/>
            </div>
          </fieldset>
          <div class="forms_buttons">
            <input type="submit" value="INGRESAR" class="forms_buttons-action">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<script  src="{% static 'login/js/index.js' %}"></script>

</body>

</html>
