{% extends "_Partials/_base.html" %}
{% load static %}

{% block title %}
Registro de datos
{% endblock title %}

{% block stylesheet %}
<link href="{% static 'css/plugins/dataTables/datatables.min.css' %}" rel="stylesheet">
{% endblock stylesheet %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="panel-heading" style="background-color: #2f4050;"><font color="White" size="4">
                Registro de datos
            </font>
            </div>
        <div class="ibox-content">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover dataTables-example" >
            <thead>
                <tr>
                    <th>Vehículo</th>
                    <th>Transportista</th>
                    <th>N° Documento</th>
                    <th>Orden de compra</th>
                    <th>Origen</th>
                    <th>Dirección de origen</th>
                    <th>Destino</th>
                    <th>Dirección del destino</th>
                    <th>Bultos</th>
                    <th>Pallets</th>
                    <th>Tipo de entrega</th>
                    <th>Peoneta</th>
                    <th>Estado</th>
                    <th>Motivo</th>
                </tr>
            </thead>
            <tbody>
            {% for x in Registros %}
                <tr>
                    <td>{{x.Vehiculo}}</td>
                    <td>{{x.Transportista}} </td>
                    <td>{{x.Nro_documento}}</td>
                    <td>{{x.Orden_compra}}</td>
                    <td>{{x.Origen}}</td>
                    <td>{{x.Direccion_origen}}</td>
                    <td>{{x.Destino}} </td>
                    <td>{{x.Direccion_destino}} </td>
                    <td>{{x.Cantidad_bultos}}</td>
                    <td>{{x.Cantidad_pallets}}</td>
                    <td>{{x.Tipo_entrega}}</td>
                    <td>{{x.Peoneta}}</td>
                    <td>{{x.Estado}}</td>
                    <td>{{x.Motivo}}</td>
                </tr>
          {% endfor %}                           
            </tbody>
            </table>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
 
{% block javascript %} 
<script src="{% static 'js/plugins/dataTables/datatables.min.js' %}"></script>

<script type="text/javascript">
    $(document).ready(function(){
        let urlImg =  "{{request.build_absolute_uri}}".replace("{% url 'registrodedatos' %}", '') + '{% static "img/marcadeagua.png" %}'
        $("#registro_activate").addClass("special_link");
        $('.dataTables-example').DataTable({
            pageLength: 25,
            responsive: true,
            dom: '<"html5buttons"B>lTfgitp',
            buttons: [
                {
                    extend: 'colvis',
                    text: '<i class="fa fa-filter">&nbsp;&nbsp;<span>Filtro</span></i>',
                },
                {
                    extend: 'excel',
                    text: '<i class="fa fa-file-excel-o">&nbsp;&nbsp;<span>Excel</span></i>',
                    title: 'Listado de entregas',
                    customize: function( xlsx ) {
                        var sheet = xlsx.xl.worksheets['sheet1.xml'];
                        $('row c[r^="C"]', sheet).attr( 's', '2' );
                        $('row c[r^="D"]', sheet).attr( 's', '2' );
                }
                },
            ],
            language: {
                "sProcessing":     "Procesando...",
                "sLengthMenu":     "Mostrar _MENU_ registros",
                "sZeroRecords":    "No se encontraron resultados",
                "sEmptyTable":     "Ningún dato disponible en esta tabla",
                "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix":    "",
                "sSearch":         "Buscar:",
                "sUrl":            "",
                "sInfoThousands":  ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                "sFirst":    "Primero",
                "sLast":     "Último",
                "sNext":     "Siguiente",
                "sPrevious": "Anterior"
    },
    "oAria": {
        "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
    }
}

        });

    });

</script>
{% endblock javascript %}
