{% extends "_Partials/_base.html" %}
{% load static %}

{% block title %}
Rendición de viajes
{% endblock title %}

{% block stylesheet %}
{% endblock stylesheet %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color: #2f4050;"><font color="White" size="4">
                Rendición de documentos
            </font>
            </div>
            <div class="ibox-content">
                <div class="form-group">
                    <label>Documento a rendir</label>
                    <input id="destination-input" type="text" class="form-control" placeholder="Ingrese el número de documento a rendir" >
                </div>   
                <button id="toggleSpinners" class="btn btn-success">Rendición del documento</button>
            </div>
            <div class="ibox" id="ibox2">
            <div class="panel-heading" style="background-color: #2f4050;"><font color="White" size="4">
                Información del documento
            </font>
            </div>
            <div class="ibox-content">
                <div class="sk-spinner sk-spinner-wave">
                    <div class="sk-rect1"></div>
                    <div class="sk-rect2"></div>
                    <div class="sk-rect3"></div>
                    <div class="sk-rect4"></div>
                    <div class="sk-rect5"></div>
                </div>
                <div class="tabs-container">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#tab-1">Información de la entrega</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-2">Detalle de la entrega</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <p class="font-bold">Tipo de entrega</p>
                                        <input type="text" disabled="" placeholder="ENTREGA RETAIL" class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <p class="font-bold">Fecha / Hora de cita</p>
                                        <input type="text" disabled="" placeholder="21-06-2018 21:00" class="form-control">
                                    </div>

                                    <div class="col-md-6">
                                        <p class="font-bold">Punto de entrega</p>
                                        <input type="text" disabled="" placeholder="WALMART CHILE LTDA" class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <p class="font-bold">Dirección</p>
                                        <input type="text" disabled="" class="form-control" placeholder="Los Almendros 20254, Pudahuel, Región Metropolitana" >
                                    </div>
                                    <div class="col-md-6">
                                        <p class="font-bold">Bultos</p>
                                        <input type="text" disabled="" placeholder="9568" class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <p class="font-bold">Pallets</p>
                                        <input type="text" disabled="" placeholder="33" class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <p class="font-bold">Vehiculo</p>
                                        <input type="text" disabled="" placeholder="PG-15-32" class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <p class="font-bold">Transportista</p>
                                        <input type="text" disabled="" placeholder="jose" class="form-control">
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div id="tab-2" class="tab-pane">
                            <div class="panel-body">
                                    



                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <button class="btn btn-block btn-primary" type="submit">Rendir documento</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock content %}
       
{% block javascript %}
<script>
    $(document).ready(function(){
        $("#rendiciones_activate").addClass("special_link");
    });
    $(function(){
        $('#toggleSpinners').on('click', function(){
            $('#ibox1').children('.ibox-content').toggleClass('sk-loading');
            $('#ibox2').children('.ibox-content').toggleClass('sk-loading');
            })
        })
</script>
{% endblock javascript %}