{% extends "_Partials/_base.html" %}
{% load static %}
{% block title %}
Seguimiento de pedidos
{% endblock title %}
{% block stylesheet %}
<link href="{% static 'css/plugins/dataTables/datatables.min.css' %}" rel="stylesheet">


{% endblock stylesheet %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="panel-heading" style="background-color: #2f4050;">
                <font color="White" size="4">Flota de vehículos</font>  
            </div>
        <div class="ibox-content">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover dataTables-example" >
            <thead>
                <tr>
                    <th class="text-center">N° Documento</th>
                    <th class="text-center">Orden de compra</th>
                    <th class="text-center">Destino</th>
                    <th class="text-center">Dirección del destino</th>
                    <th class="text-center">Cantidad de bultos</th>
                    <th class="text-center"> Cantidad de pallets</th>
                    <th class="text-center">Estado del pedido</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for x in Seguimiento %}    
                <tr class="gradeX">
                    <td class="text-center">{{x.Nro_documento}}</td>
                    <td class="text-center">{{x.Orden_compra}}</td>
                    <td class="text-center">{{x.Destino}}</td>
                    <td class="text-center">{{x.Direccion_destino}}</td>
                    <td class="text-center">{{x.Cantidad_bultos}}</td>
                    <td class="text-center">{{x.Cantidad_pallets}}</td>
                    <td class="text-center">
                        {% if x.Status_entrega == "EN VIAJE" %}
                        <div class="bg-warning p-xs b-r-sm">
                            {{x.Status_entrega}}
                        </div> 
                        {% elif x.Status_entrega == "ENTREGADO" %} 
                        <div class="bg-primary p-xs b-r-sm">
                            {{x.Status_entrega}}
                        </div>
                        {% elif x.Status_entrega == "NO ENTREGADO" %}
                        <div class="bg-danger p-xs b-r-sm">
                            {{x.Status_entrega}}
                        </div>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        <button class="btn btn-success" type="button" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i>&nbsp;&nbsp;<span class="bold">Ver</span></button>
                    </td>
                </tr>
            {% endfor %}                   
            </tbody>
            </table>
            </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="ibox-content">
            <div class="row">
                <div class="col-md-5">
                    <div class="product-images">
                        <div class="text-center">
                            <div class="image">
                                <img class="d-block w-100" src="{% static 'img/guia.jpg' %}" height="340px">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <h2 class="font-bold m-b-xs">
                        Detalle de la entrega
                    </h2>
                    <hr>
                    <div class="text-center">
                        <a href="{% static 'img/guia.jpg' %}" download>
                            <button type="button" class="btn btn-primary"><i class="fa fa-download"></i>&nbsp;&nbsp;Descargar imagen</button>
                        </a>
                    </div>
                    <hr>
                    <dl class="dl-horizontal m-t-md small">
                        <dt>Description lists</dt>
                        <dd>A description list is perfect for defining terms.</dd>
                        <dt>Euismod</dt>
                        <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
                        <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                        <dt>Malesuada porta</dt>
                        <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
                        <dt>Felis euismod semper eget</dt>
                        <dd>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</dd>
                    </dl>
                </div>
            </div>
        </div>
      <div class="modal-footer">
        <div class="text-center">
            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp;&nbsp;Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascript %}

<script src="{% static 'js/plugins/dataTables/datatables.min.js' %}"></script>

<script type="text/javascript">
    $(document).ready(function(){
        let urlImg =  "{{request.build_absolute_uri}}".replace("{% url 'listadodeentregas' %}", '') + '{% static "img/marcadeagua.png" %}'
        $("#seguimiento_activate").addClass("special_link");
        $('.dataTables-example').DataTable({
            pageLength: 25,
            responsive: true,
            dom: '<"html5buttons"B>lTfgitp',
            buttons: [
                {
                    extend: 'excel',
                    text: '<i class="fa fa-file-excel-o">&nbsp;&nbsp;<span>Excel</span></i>',
                    title: 'Listado de entregas',
                    customize: function( xlsx ) {
                        var sheet = xlsx.xl.worksheets['sheet1.xml'];
                        $('row c[r^="A"]', sheet).attr( 's', '2' );
                        $('row c[r^="B"]', sheet).attr( 's', '2' );
                }
                },
            ],
            columnDefs: [
                {targets: 7, orderable: false }
            ],  
            language: {
                "sProcessing":     "Procesando...",
                "sLengthMenu":     "Mostrar _MENU_ registros",
                "sZeroRecords":    "No se encontraron resultados",
                "sEmptyTable":     "Ningún dato disponible en esta tabla",
                "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix":    "",
                "sSearch":         "Buscar:",
                "sUrl":            "",
                "sInfoThousands":  ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst":    "Primero",
                    "sLast":     "Último",
                    "sNext":     "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                        "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            }
        });
    });
</script>
{% endblock javascript %}