{% extends "_Partials/_base.html" %}
{% load static %}

{% block title %}
Mapa 
{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/maps/map-style.css' %}">
{% endblock stylesheet %}

{% block content %}
<div id="color-palette"></div>
<div id="delete-button">Eliminar</div>
<div id="save-button">Guardar</div>
<div id="map-canvas" style="position: absolute; left: 0px; top: 0px;  width: 100%; height: 100%; z-index: 0;"></div>
{% endblock content %}
   
{% block javascript %}
<script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAd5-VfeP_L4EzX9HwrFsSP9ETaaAXEC3U&v=3.exp&libraries=drawing,geometry'></script>
<script>
    $(document).ready(function(){
        $("#map_activate").addClass("special_link");
        getPointsTrucks();
    });

    function getPointsTrucks(){
        $.ajax({
            url:'{% url "get_points_trucks" %}',
            type:'get',
            async:false,
            data:{
                csrfmiddlewaretoken: '{{ csrf_token }}',

            },
            success:function(result){
                initialize_map(result);
            }
        });
    }

    function initialize_map(vehiculos) {
        var positionLatlng = new google.maps.LatLng(-33.4301513,-70.683781);
        var mapOptions = ({
            zoom: 11,
            center: positionLatlng
        });

        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
        var bounds = new google.maps.LatLngBounds();

        var trafficLayer = new google.maps.TrafficLayer();
            trafficLayer.setMap(map);

        var drawingManager;
        var selectedShape;
        var colors = ['#1E90FF', '#FF1493', '#32CD32', '#FF8C00', '#4B0082'];
        var selectedColor;
        var colorButtons = {};

        //  map.fitBounds(bounds);
        map.controls[google.maps.ControlPosition.TOP_RIGHT].push(document.getElementById('save-button'));
        map.controls[google.maps.ControlPosition.TOP_RIGHT].push(document.getElementById('delete-button'));
        map.controls[google.maps.ControlPosition.TOP_RIGHT].push(document.getElementById('color-palette'));

        var sample = [{
            "type": "polygon",
            "fillColor": "#FF1493",
            "fillOpacity": 0.45,
            "strokeColor": "#FF1493",
            "path": "lztaEquqbU{EkkBpeBzKhs@`bA{qAtu@"
        }];

        var polyOptions = {
            strokeWeight: 1,
            fillOpacity: 0.45,
            editable: true,
            draggable: true
        };

        var drawingManager = new google.maps.drawing.DrawingManager({
            drawingControl: true,
            drawingControlOptions: {
                position: google.maps.ControlPosition.TOP_RIGHT,
                drawingModes: [
                    //google.maps.drawing.OverlayType.MARKER,
                    google.maps.drawing.OverlayType.CIRCLE,
                    //google.maps.drawing.OverlayType.RECTANGLE,
                    google.maps.drawing.OverlayType.POLYLINE,
                    google.maps.drawing.OverlayType.POLYGON
                ]
            },
            //drawingMode: google.maps.drawing.OverlayType.POLYGON,
            polygonOptions: polyOptions,
            polylineOptions: {
                editable: true,
                draggable: true
            },
            rectangleOptions: polyOptions,
            circleOptions: polyOptions,
            map: map
        });

        var drawing = {
            test: function(a) {
                alert(a);
            },
            selectColor: function(color) {
                selectedColor = color;
                for (var i = 0; i < colors.length; ++i) {
                    var currColor = colors[i];
                    colorButtons[currColor].style.border = currColor == color ? '2px solid #789' : '2px solid #fff';
                }
                var polylineOptions = drawingManager.get('polylineOptions');
                polylineOptions.strokeColor = color;
                drawingManager.set('polylineOptions', polylineOptions);
                var rectangleOptions = drawingManager.get('rectangleOptions');
                rectangleOptions.fillColor = color;
                drawingManager.set('rectangleOptions', rectangleOptions);
                var circleOptions = drawingManager.get('circleOptions');
                circleOptions.fillColor = color;
                drawingManager.set('circleOptions', circleOptions);
                var polygonOptions = drawingManager.get('polygonOptions');
                polygonOptions.fillColor = color;
                polygonOptions.strokeColor = color;
                drawingManager.set('polygonOptions', polygonOptions);
            },
            setSelectedShapeColor: function(color) {
                if (shapes.selectedShape) {
                    if (shapes.selectedShape.type == google.maps.drawing.OverlayType.POLYLINE) {
                    shapes.selectedShape.set('strokeColor', color);
                    } else {
                        shapes.selectedShape.set('strokeColor', color);
                        shapes.selectedShape.set('fillColor', color);
                    }
                }
            },
            buildColorPalette: function() {
                var colorPalette = document.getElementById('color-palette');
                for (var i = 0; i < colors.length; ++i) {
                    var currColor = colors[i];
                    var colorButton = this.makeColorButton(currColor);
                    colorPalette.appendChild(colorButton);
                    colorButtons[currColor] = colorButton;
                }
                this.selectColor(colors[0]);
            },
            makeColorButton: function(color) {
                that = this;
                var button = document.createElement('span');
                button.className = 'color-button';
                button.style.backgroundColor = color;
                google.maps.event.addDomListener(button, 'click', function() {
                    that.selectColor(color);
                    that.setSelectedShapeColor(color);
                });
                return button;
            }
        }

        var shapes = {
            collection: {},
            selectedShape: null,
            add: function(e, s) {
                var shape = e.overlay,
                    that = this;
                shape.type = e.type;
                shape.id = new Date().getTime() + '_' + Math.floor(Math.random() * 1000);
                this.collection[shape.id] = shape;
                if (!s) this.setSelection(shape);
                google.maps.event.addListener(shape, 'click', function() {
                    that.setSelection(this);
                });
            },
            setSelection: function(shape) {
                if (this.selectedShape !== shape) {
                    this.clearSelection();
                    this.selectedShape = shape;
                    shape.set('draggable', true);
                    shape.set('editable', true);
                    drawing.selectColor(shape.get('fillColor') || shape.get('strokeColor'));
                }
            },
            deleteSelected: function() {
                if (this.selectedShape) {
                    var shape = this.selectedShape;
                    this.clearSelection();
                    shape.setMap(null);
                    delete this.collection[shape.id];
                }
            },
            clearSelection: function() {
                if (this.selectedShape) {
                    alert('clear');
                    this.selectedShape.set('draggable', false);
                    this.selectedShape.set('editable', false);
                    this.selectedShape = null;
                }
            },
            save: function() {
                var collection = [];
                for (var k in this.collection) {
                    var shape = this.collection[k],
                        types = google.maps.drawing.OverlayType;
                    switch (shape.type) {
                        case types.POLYGON:
                            collection.push({
                            type: shape.type,
                                fillColor: shape.fillColor,
                                fillOpacity: shape.fillOpacity,
                                strokeColor: shape.strokeColor,
                                path: google.maps.geometry.encoding.encodePath(shape.getPath())
                            });
                            break;
                        default:
                            alert('implement a storage-method for ' + shape.type)
                    }
                }
                //collection is the result
                console.log((JSON.stringify(collection)));
                fmdata = encodeURI(JSON.stringify(collection));
                return collection;
            },
            load: function(arr) {
                var types = google.maps.drawing.OverlayType;
                for (var i = 0; i < arr.length; ++i) {
                    switch (arr[i].type) {
                        case types.POLYGON:
                            var shape = new google.maps.Polygon(polyOptions);
                            shape.setOptions({
                                map: map,
                                fillColor: arr[i].fillColor,
                                fillOpacity: arr[i].fillOpacity,
                                strokeColor: arr[i].strokeColor,
                                path: google.maps.geometry.encoding.decodePath(arr[i].path)
                            });
                            shapes.add({
                                type: types.POLYGON,
                                overlay: shape
                            }, true)
                            break;
                        default:
                            alert('implement a loading-method for ' + arr[i].type)
                    }
                    shape.set('draggable', false);
                    shape.set('editable', false);
                    shape = null;
                }
            }
        };

        //var motionX = {
            //channel: null,
            //timeOutID: 0,
            //updateInterval: 10000,
            //fetch: function() {
                //$.getJSON('http://gps.motionx.com/proxy.php?url=http%3A%2F%2Fshare.gps.motionxlive.com%2Fbcast%2Fr%3Fchannel%3D' + this.channel + ' %26hours%3D1440', function(data) {
                    //var items = [];
                    //$.each(data.marker, function(i, item) {
                        //if (item['@attributes']) {
                            //var user = item['@attributes'].user;
                            //var lat = item['@attributes'].lat;
                            //var lon = item['@attributes'].lon;
                        //} else if (item.user) {
                            //var user = item.user;
                            //var lat = item.lat;
                            //var lon = item.lon;
                        //}
                        //var marker = new google.maps.Marker({
                            //position: new google.maps.LatLng(lat, lon),
                            //title: user,
                            //map: map,
                            //icon: 'https://bayswaterses2014.dev.springcms.com.au/image.svg/file/map.pin/a/'+user+'/b/gps/c/vehicle'
                        //});
                        //console.log(user);
                        //alert('!');
                    //});
                //});
            //}
        //}

        drawing.buildColorPalette();
        shapes.load(sample);
        shapes.clearSelection();

        //motionX data
        //motionX.channel = '87517';
        //motionX.fetch();
        //motionX.timeOutID = setTimeout(
            //function() {
                //motionX.fetch()
            //},
            //motionX.updateInterval
        //);

        //drawing controls
        google.maps.event.addListener(drawingManager, 'overlaycomplete', function(e) {
            drawingManager.setDrawingMode(null);
            shapes.add(e);
        });

        google.maps.event.addListener(drawingManager, 'drawingmode_changed', function() {
            shapes.clearSelection();
        });

        //shapes
        google.maps.event.addListener(map, 'click', function() {
            shapes.clearSelection();
        });
        google.maps.event.addDomListener(document.getElementById('delete-button'), 'click', function() {
            shapes.deleteSelected();
        });
        google.maps.event.addDomListener(document.getElementById('save-button'), 'click', function() {
            shapes.save();
        });


        for (var i = vehiculos.detalles.length - 1; i >= 0; i--) {

            var truck = new google.maps.Marker({
                position: new google.maps.LatLng(-33.355757, -70.694465),
                map: map,
                title: vehiculos.detalles[i].patente,
                icon: 'data:image/svg+xml,<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 259.8 259.8" xml:space="preserve"><g><path fill="' + vehiculos.detalles[i].color + '" d="M129.9,1C77.6,1,35,43.6,35,95.9c0,31.6,29.1,81.5,41.6,101.5c10.3,16.4,21.3,32.1,31.1,44c15.9,19.4,20.3,19.4,22.2,19.4 c1.8,0,6.1,0,21.9-19.4c9.8-12,20.8-27.6,31.1-44c12.6-20,41.9-70,41.9-101.5C224.8,43.6,182.2,1,129.9,1z M129.9,172.5 c-41.4,0-75.1-33.7-75.1-75.1s33.7-75.1,75.1-75.1s75.1,33.7,75.1,75.1S171.3,172.5,129.9,172.5z"/><g><path d="M194.3,105.5V93c0-4.7-4.2-8.6-9.4-8.6l-6.5-0.9l-11.1-15.3c-0.2-0.1-0.3-0.4-0.4-0.5c-1.7-2.1-4.5-3.6-7.7-3.6h-21.1 v-5.3c0-2.7-2.2-4.9-4.9-4.9H76.4c-2.7,0-4.9,2.2-4.9,4.9v33.4v18.1v1.2v5c0,2.8,2.5,4.9,5.3,4.9h7.7c1.7,5.5,7.2,9.5,13.9,9.5 c6.6,0,12.1-4.1,13.9-9.5h17.5h29.7c1.7,5.5,7.2,9.5,13.9,9.5s12.1-4.1,13.9-9.5h6.6c3,0,5.3-2.2,5.3-4.9v-6.2 C199.1,107.9,196.9,105.8,194.3,105.5z M98.3,124.3c-4.1,0-7.2-3-7.2-6.6s3.3-6.6,7.2-6.6c4.1,0,7.2,3,7.2,6.6 S102.4,124.3,98.3,124.3z M148,84c-0.4,0-0.7-0.3-0.7-0.6V71.3c0-0.3,0.3-0.6,0.7-0.6h11.5c0.2,0,0.4,0.1,0.5,0.3l8.9,12.1 c0.3,0.4,0,1-0.5,1L148,84L148,84z M173.2,124.3c-4.1,0-7.2-3-7.2-6.6s3.3-6.6,7.2-6.6c4.1,0,7.2,3,7.2,6.6 S177.1,124.3,173.2,124.3z"/></g></g></svg>'  // icono del Vehiculo 2
            });


           
            for(var j = 0; j < vehiculos.detalles[i].entregas.length; j++){
                console.log('info entrega: ' + vehiculos.detalles[i].entregas[j].destino);
                var image = 'data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 38 38"> <path fill="' + vehiculos.detalles[i].color + '" stroke="#000" stroke-width=".5" d="M34.305 16.234c0 8.83-15.148 19.158-15.148 19.158S3.507 25.065 3.507 16.1c0-8.505 6.894-14.304 15.4-14.304 8.504 0 15.398 5.933 15.398 14.438z"/> <text transform="translate(19 18.5)" fill="#fff" style="font-family: Arial, sans-serif;font-weight:bold;text-align:center;" font-size="9" text-anchor="middle">' + (j+1) + '</text></svg>';               


                var latitude = parseFloat(vehiculos.detalles[i].entregas[j].latitude);
                var longitude = parseFloat(vehiculos.detalles[i].entregas[j].longitude);
                var myLatLng =new google.maps.LatLng(latitude,longitude);
          
                var marker = new google.maps.Marker({
                    position: myLatLng,
                    map: map,
                    title: vehiculos.detalles[i].entregas[j].destino,
                    icon: image,
                    animation: google.maps.Animation.DROP,
                });
            }


        }

}
 //google.maps.event.addDomListener(window, 'load', initialize);      
</script>


{% endblock javascript %}